@import "vars";
@import "mix";

body {
  @include transition();
  font-family: $roboto;

  &.menu-opened {
    transform: translateX(-250px);
    overflow: hidden;
  }
}

input, button {
  outline: none;

  &:focus {
    outline: none;
  }
}

.button-main {
  @include transition();
  background: $aquamarine;
  color: $white;
  border: 2px solid $aquamarine;

  &:hover {
    background: $white;
    color: $aquamarine;
    text-decoration: none;
  }
}

.button-transparent {
  @include transition();
  border: 2px solid $white;

  &:hover {
    text-decoration: none;
    background: rgba($white, 0.2);
  }
}

.site-header {
  background: $white;

  .logo {
    flex: 1;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;

    ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      li {
        display: inline;
        margin-left: 30px;

        a {
          color: $ocean_lighter;
          text-transform: uppercase;

          &.active {
            color: $aquamarine;
          }
        }
      }
    }
  }

  &__button-mobile-menu {
    display: none;
  }
}

.top-slider {
  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    picture {
      img {
        width: 100%;
      }
    }
  }

  &__inner {
    position: absolute;
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
  }

  &__text {
    font-size: 25px;
    color: $white;
  }

  &__buttons {
    margin-top: 45px;
    text-align: center;

    a {
      @include radius();
      display: inline-block;
      margin: 0 15px;
      text-transform: uppercase;
      color: $white;
      font-size: 20px;
      padding: 13px 25px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @include transition();

    &::after {
      font-size: 30px;
      color: $white;
    }

    padding: 30px;
    background: rgba($ocean_lighter, 0.7);

    &:hover {
      background: $aquamarine;
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }
}

.find-form {
  &-wrapper {
    background: $ocean_lighter;
    padding: 25px 0;
    padding-right: 0;
  }

  &__text {
    span {
      text-transform: uppercase;
      color: $white;
      display: block;
      font-size: 25px;
      line-height: 25px;

      &:first-child {
        font-size: 20px;
        color: lighten($ocean_lighter, 30%);
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input-group {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    label {
      margin: 0 25px 0;
      font-size: 22px;
      color: lighten($ocean_lighter, 30%);
    }

    input {
      padding: 12px;
      flex: 1;
      border: 0;
      width: 100%;
    }

    i {
      position: absolute;
      right: 15px;
      bottom: 10px;
      font-size: 20px;
      color: $ocean_lighter;
    }

  }

  &__button-search {
    @include transition();
    background: $aquamarine;
    color: $white;
    border: 0;
    padding: 10px 25px;
    font-size: 20px;
    &:hover {
      background: $ocean;
    }
  }
}

footer {
  background: $ocean;
  padding: 50px 0 30px;

  .#{&}-column {
    &__title {
      color: $aquamarine;
      font-weight: bold;
      font-size: 25px;
      display: block;
    }

    &__inner {
      margin: 15px 0;
      width: 90%;
    }

    &__text {
      color: $white;
      font-size: 13px;
      line-height: 24px;

      a {
        display: block;
        color: $white;

        span {
          color: $aquamarine;
        }
      }
    }
  }

  .#{&}__subscribe-form {
    display: flex;

    input {
      &::placeholder {
        font-size: 13px;
      }

      border: 0;
      padding-left: 15px;
      width: 150px;
    }

    button {
      @include transition();
      background: $aquamarine;
      border: 0;
      color: $white;
      text-transform: uppercase;
      padding: 8px 15px;
      margin-left: 5px;
      &:hover {
        background: $ocean_lighter;
      }
    }
  }

  .#{&}-tags {
    a {
      @include radius(3px);
      @include transition();
      display: inline-block;
      font-size: 13px;
      color: $white;
      padding: 5px 7px;
      border: 1px solid $white;
      margin: 2px 2px 4px;

      &:hover {
        text-decoration: none;
        background: rgba($white, 0.2);
      }
    }
  }

  .#{&}-articles {
    article {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }

    .article {
      &__image {
        padding: 5px;
        border: 1px solid $white;
        margin-right: 15px;
      }

      &__text {
        flex: 1;
        margin-bottom: 20px;
      }

      &__image {

      }

      &__title {
        font-size: 13px;
        color: $white;
        margin-bottom: 5px;

        a {
          color: $white;
        }
      }

      &__date {
        font-size: 12px;
        color: $aquamarine;
      }
    }
  }

  .#{&}-social {
    a {
      @include transition();
      color: $white;
      font-size: 25px;
      margin-right: 20px;
      text-decoration: none;
      &:hover {
        color: $aquamarine;
      }
    }
  }
}

@media (max-width: 768px) {

  .site-header {
    background: $white;

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;

      ul {
        position: fixed;
        right: 0;
        top: 15px;
        transform: translateX(170px);
        display: flex;
        flex-direction: column;
        z-index: -1;

        li {
          display: inline;
          margin-bottom: 20px;
          margin-left: 0;

          a {
            color: $ocean_lighter;
            text-transform: uppercase;
            font-size: 20px;

            &.active {
              color: $aquamarine;
            }
          }
        }
      }
    }

    &__button-mobile-menu {
      display: block;
      background: $aquamarine;
      padding: 20px;
      border: 0;
      height: 100%;
      text-align: center;

      &:focus {
        outline: none;
      }

      img {
        display: block;
        width: 25px;
        margin: 0 auto;
      }
    }
  }


  .top-slider {

    &__slide {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      picture {
        img {
          width: auto;
        }
      }
    }

    &__inner {
      padding: 20px;
    }

    &__title {
      font-size: 35px;
    }

    &__text {
      font-size: 18px;
    }

    &__buttons {
      margin-top: 45px;

      a {
        @include radius();
        font-size: 15px;
        padding: 13px 25px;
        margin-bottom: 10px;
      }
    }
  }

  .find-form {

    &__text {
      span {
        font-size: 20px;

        &:first-child {
          font-size: 16px;
        }
      }

      margin-bottom: 0;
    }

    &__form {
      display: flex;
      justify-content: space-between;
    }

    &__input-group {

      label {
        margin: 15px 25px;
        font-size: 18px;
      }

      input {
        padding: 12px;
        flex: 1;
        border: 0;
        width: 100%;
      }

    }

    &__button-search {
      font-size: 18px;
    }
  }
}

/*Custom styles for datepicker*/

.ui-widget-header {
  border: 0;
  background: $ocean_lighter;
  color: $white;
}

.ui-datepicker th {
  color: $ocean_lighter;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 0;
  background: lighten($ocean_lighter, 40%);
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: $aquamarine;
}