body {
  transition: 0.3s ease;
  font-family: "Roboto", sans-serif; }
  body.menu-opened {
    transform: translateX(-250px);
    overflow: hidden; }

input, button {
  outline: none; }
  input:focus, button:focus {
    outline: none; }

.button-main {
  transition: 0.3s ease;
  background: #1dd2af;
  color: #fff;
  border: 2px solid #1dd2af; }
  .button-main:hover {
    background: #fff;
    color: #1dd2af;
    text-decoration: none; }

.button-transparent {
  transition: 0.3s ease;
  border: 2px solid #fff; }
  .button-transparent:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2); }

.site-header {
  background: #fff; }
  .site-header .logo {
    flex: 1; }
  .site-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0; }
    .site-header__nav ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0; }
      .site-header__nav ul li {
        display: inline;
        margin-left: 30px; }
        .site-header__nav ul li a {
          color: #5e6b78;
          text-transform: uppercase; }
          .site-header__nav ul li a.active {
            color: #1dd2af; }
  .site-header__button-mobile-menu {
    display: none; }

.top-slider__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .top-slider__slide picture img {
    width: 100%; }

.top-slider__inner {
  position: absolute; }

.top-slider__title {
  display: block;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff; }

.top-slider__text {
  font-size: 25px;
  color: #fff; }

.top-slider__buttons {
  margin-top: 45px;
  text-align: center; }
  .top-slider__buttons a {
    border-radius: 5px;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 13px 25px; }

.top-slider .swiper-button-next,
.top-slider .swiper-button-prev {
  transition: 0.3s ease;
  padding: 30px;
  background: rgba(94, 107, 120, 0.7); }
  .top-slider .swiper-button-next::after,
  .top-slider .swiper-button-prev::after {
    font-size: 30px;
    color: #fff; }
  .top-slider .swiper-button-next:hover,
  .top-slider .swiper-button-prev:hover {
    background: #1dd2af; }

.top-slider .swiper-button-next {
  right: 0; }

.top-slider .swiper-button-prev {
  left: 0; }

.find-form-wrapper {
  background: #5e6b78;
  padding: 25px 0;
  padding-right: 0; }

.find-form__text span {
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 25px;
  line-height: 25px; }
  .find-form__text span:first-child {
    font-size: 20px;
    color: #afb8c0; }

.find-form__form {
  display: flex;
  justify-content: space-between; }

.find-form__input-group {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative; }
  .find-form__input-group label {
    margin: 0 25px 0;
    font-size: 22px;
    color: #afb8c0; }
  .find-form__input-group input {
    padding: 12px;
    flex: 1;
    border: 0;
    width: 100%; }
  .find-form__input-group i {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 20px;
    color: #5e6b78; }

.find-form__button-search {
  transition: 0.3s ease;
  background: #1dd2af;
  color: #fff;
  border: 0;
  padding: 10px 25px;
  font-size: 20px; }
  .find-form__button-search:hover {
    background: #2c3e50; }

footer {
  background: #2c3e50;
  padding: 50px 0 30px; }
  footer .footer-column__title {
    color: #1dd2af;
    font-weight: bold;
    font-size: 25px;
    display: block; }
  footer .footer-column__inner {
    margin: 15px 0;
    width: 90%; }
  footer .footer-column__text {
    color: #fff;
    font-size: 13px;
    line-height: 24px; }
    footer .footer-column__text a {
      display: block;
      color: #fff; }
      footer .footer-column__text a span {
        color: #1dd2af; }
  footer .footer__subscribe-form {
    display: flex; }
    footer .footer__subscribe-form input {
      border: 0;
      padding-left: 15px;
      width: 150px; }
      footer .footer__subscribe-form input::placeholder {
        font-size: 13px; }
    footer .footer__subscribe-form button {
      transition: 0.3s ease;
      background: #1dd2af;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      padding: 8px 15px;
      margin-left: 5px; }
      footer .footer__subscribe-form button:hover {
        background: #5e6b78; }
  footer .footer-tags a {
    border-radius: 3px;
    transition: 0.3s ease;
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding: 5px 7px;
    border: 1px solid #fff;
    margin: 2px 2px 4px; }
    footer .footer-tags a:hover {
      text-decoration: none;
      background: rgba(255, 255, 255, 0.2); }
  footer .footer-articles article {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; }
  footer .footer-articles .article__image {
    padding: 5px;
    border: 1px solid #fff;
    margin-right: 15px; }
  footer .footer-articles .article__text {
    flex: 1;
    margin-bottom: 20px; }
  footer .footer-articles .article__title {
    font-size: 13px;
    color: #fff;
    margin-bottom: 5px; }
    footer .footer-articles .article__title a {
      color: #fff; }
  footer .footer-articles .article__date {
    font-size: 12px;
    color: #1dd2af; }
  footer .footer-social a {
    transition: 0.3s ease;
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
    text-decoration: none; }
    footer .footer-social a:hover {
      color: #1dd2af; }

@media (max-width: 768px) {
  .site-header {
    background: #fff; }
    .site-header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0; }
      .site-header__nav ul {
        position: fixed;
        right: 0;
        top: 15px;
        transform: translateX(170px);
        display: flex;
        flex-direction: column;
        z-index: -1; }
        .site-header__nav ul li {
          display: inline;
          margin-bottom: 20px;
          margin-left: 0; }
          .site-header__nav ul li a {
            color: #5e6b78;
            text-transform: uppercase;
            font-size: 20px; }
            .site-header__nav ul li a.active {
              color: #1dd2af; }
    .site-header__button-mobile-menu {
      display: block;
      background: #1dd2af;
      padding: 20px;
      border: 0;
      height: 100%;
      text-align: center; }
      .site-header__button-mobile-menu:focus {
        outline: none; }
      .site-header__button-mobile-menu img {
        display: block;
        width: 25px;
        margin: 0 auto; }
  .top-slider__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .top-slider__slide picture img {
      width: auto; }
  .top-slider__inner {
    padding: 20px; }
  .top-slider__title {
    font-size: 35px; }
  .top-slider__text {
    font-size: 18px; }
  .top-slider__buttons {
    margin-top: 45px; }
    .top-slider__buttons a {
      border-radius: 5px;
      font-size: 15px;
      padding: 13px 25px;
      margin-bottom: 10px; }
  .find-form__text {
    margin-bottom: 0; }
    .find-form__text span {
      font-size: 20px; }
      .find-form__text span:first-child {
        font-size: 16px; }
  .find-form__form {
    display: flex;
    justify-content: space-between; }
  .find-form__input-group label {
    margin: 15px 25px;
    font-size: 18px; }
  .find-form__input-group input {
    padding: 12px;
    flex: 1;
    border: 0;
    width: 100%; }
  .find-form__button-search {
    font-size: 18px; } }

/*Custom styles for datepicker*/
.ui-widget-header {
  border: 0;
  background: #5e6b78;
  color: #fff; }

.ui-datepicker th {
  color: #5e6b78; }

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 0;
  background: #cbd1d7; }

.ui-state-active, .ui-widget-content .ui-state-active {
  background: #1dd2af; }
