    /*
    Flaticon icon font: Flaticon
    Creation date: 22/02/2020 21:51
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-menu:before { content: "\f100"; }
.flaticon-facebook:before { content: "\f101"; }
.flaticon-twitter:before { content: "\f102"; }
.flaticon-tumblr:before { content: "\f103"; }
.flaticon-icon-37929:before { content: "\f104"; }
.flaticon-globe:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
    
    $font-Flaticon-menu: "\f100";
    $font-Flaticon-facebook: "\f101";
    $font-Flaticon-twitter: "\f102";
    $font-Flaticon-tumblr: "\f103";
    $font-Flaticon-icon-37929: "\f104";
    $font-Flaticon-globe: "\f105";
    $font-Flaticon-calendar: "\f106";